@media screen and (max-width:576px) {
/* ==========================
   HEADER STYLES
========================== */
    .logo-container h1{
        font-family: "Titan One", sans-serif;
        font-size: 25px;
        letter-spacing: 2px;
    }


/* ==========================
   NEVIGATION STYLES
   ========================== */
    .primary-nav {
        display: none;
    }

    .secondary-nav{
    display: flex;
    gap: 15px;
    font-size: 20px;
    }
}